name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Linting...
      run: |
        isort --check --diff tastytrade/ tests/
        flake8 --count --show-source --statistics tastytrade/ tests/
        mypy -p tastytrade
    - name: Testing...
      run: |
        python -m pytest --cov=tastytrade --cov-report=term-missing tests/ --cov-fail-under=95
      env:
        TT_USERNAME: ${{ secrets.TT_USERNAME }}
        TT_PASSWORD: ${{ secrets.TT_PASSWORD }}
